/* Defining custom grid system */
* {
	box-sizing: border-box;
}
.row:after {
	content: "";
	clear: both;
	display: block;
}
[class*="col-"] {
	float: left;
	padding: 15px;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}

/* Page styling starts here */
body {
	font-family: Montserrat;
}

/*sidebar*/
#sidebar {
	position: fixed;
	left: -200px;
	background: #ff656c;
	height: 100%;
	width: 200px;
	transition: 400ms;
}

#sidebar ul {
	list-style: none;
	margin-top: 30px;
}

#sidebar ul li {
	width: 100%;
	padding: 10px 20px;
	box-sizing: border-box;
	border-bottom: 1px solid #fff;
}

#sidebar ul li a {
	color: #fff;
	text-decoration: none;
	font-family: sans-serif;
}

.toggle-btn {
	position: absolute;
	padding: 8px 8px;
	left: 200;
	background: #e1e1e1;
	top: 10px;
	cursor: pointer;
}

.toggle-btn span {
	width: 30px;
	height: 2px;
	background: #444;
	display: block;
	margin-bottom: 6px;
}
.toggle-btn span:last-child {
	margin-bottom: 0;
}

.active {
	left: 00px !important;
}

/*End of sidebar*/

.attendant-block {
	width: 320px;
	padding: 20px;
	border-radius: 5px;
	margin: 110px auto;
	background: transparent;
	border-top: 5px solid #ff656c;
}

.fullname,
.username,
.password {
	width: 100%;
	height: 42px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	font-size: 14px;
	font-family: Montserrat;
	padding: 0 20px 0 50px;
	outline: none;
}

.fullname {
	background: #fff url("/images/5.png") 20px top no-repeat;
	background-size: 16px 80px;
}

.fullname:focus {
	background: #fff url("/images/5.png") 20px bottom no-repeat;
	background-size: 16px 80px;
}

.username {
	background: #fff url("/images/4.png") 20px top no-repeat;
	background-size: 16px 80px;
}

.username:focus {
	background: #fff url("/images/4.png") 20px bottom no-repeat;
	background-size: 16px 80px;
}

.password {
	background: #fff url("/images/3.png") 20px top no-repeat;
	background-size: 16px 80px;
}

.password:focus {
	background: #fff url("/images/3.png") 20px bottom no-repeat;
	background-size: 16px 80px;
}

.attendant-block input:active,
.attendant-block input:focus {
	border: 1px solid #ff656c;
}

.login {
	width: 100%;
	height: 40px;
	background: #ff656c;
	border-radius: 5px;
	border: 1px solid #e15960;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	font-family: Montserrat;
	outline: none;
	cursor: pointer;
	text-align: center;
}

.login:hover {
	background: #ff7b81;
}

.logo {
	width: 120px;
	height: 120px;
	margin: auto;
	border: 5px solid #fff;
	border-radius: 50%;
	margin-bottom: 20px;
}

.logo img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#hide {
	cursor: pointer;
	color: #ff656c;
}

#show {
	cursor: pointer;
	color: #ff656c;
}

.not-registered,
.have-account {
	text-align: center;
	font-size: 14px;
	color: #ff656c;
}

.info-box-container {
	display: flex;
}

.info-box {
	background: #e15960;
	margin: 1em;
}

@media screen and (max-width: 500px) {
	.attendant-block {
		width: 70%;
	}
}
